$header-height: 34px;
$toolbar-height: 34px;
$formula-height: 24px;
$db-header-height: 64px;
$row-height: 24px;
$border-color: #c0c0c0;
$primary-color: #3c74ff;
$info-cell-width: 40px;
$cell-width: 120px;
$outline-box-shadow: 0 0 0 2px rgba(0, 123, 255, .4);